<!DOCTYPE html>
<head>
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
	<title>Github Profiles API</title>
	<link rel="stylesheet" href="css/main.css"/>
</head>

<body>
<div id="wrapper">
<div id="holder">
	<header>
    <h1>Github Pr<img src="img/github_icon.png" width="25px" height="25px">files API</h1>
    	<nav>
        <a href="https://github.com" class="button1" href="#"><img src="img/github_icon.png" width="50px" height="50px"></a><a class="btxt">Github Home<br></a>
         <a href="https://github.com/contact" class="button2" href="#"><img src="img/github_icon.png" width="50px" height="50px"></a><a class="btxt2">Git in Contact<br></a>

      </nav>


    </header>
  	  <div id="maincontent">
    		<h4 class="respond">GitHub is a Git repository web-based hosting service, which offers all of the 	distributed revision control and source code management (SCM) functionality of Git as well as adding its own features. Unlike Git, which is strictly a command-line tool, GitHub provides a web-based graphical interface and desktop as well as mobile integration. It also provides access control and several collaboration features such as wikis, task management, and bug tracking and feature requests for every project.<br>

    			<br>In the fields below you are able to type in a users profile name which return some basic attributes of 	that specific user.
				</h4>

    		<section>
    		<input type='text' id='profile_name1' placeholder="enter profile name"/>
        <a href="#" id='fetch_github_profile1'><img src="img/images.jpeg" width="30px" height="30px"></a>
        <img></img><br>
        <h2>Profile One</h2><h51></h51><h61><br></h61><p1>
        </p1><br>
        <a href="#"><img src="img/email_button.png"></a><a href="#"><img src="img/blog_button.png"></a><a href="#"><img src="img/social_button.png"></a>
        </section>

    	<section>
       <input type='text' id='profile_name2' placeholder="enter profile name"/>
        <a href="#" id='fetch_github_profile2'><img src="img/images.jpeg" width="30px" height="30px"></a>
        <img></img><br>
        <h2>Profile Two</h2><h52></h52><h62><br></h62><p2>
        </p2><br>
        <a href="#"><img src="img/email_button.png"></a><a href="#"><img src="img/blog_button.png"></a><a href="#"><img src="img/social_button.png"></a>
        </section>

        <section>
        <input type='text' id='profile_name3' placeholder="enter profile name"/>
        <a href="#" id='fetch_github_profile3'><img src="img/images.jpeg" width="30px" height="30px"></a>
        <img></img><br>
        <h2>Profile Three</h2><h53></h53><br><h63></h63><p3>
      	</p3><br>
        <a href="#"><img src="img/email_button.png"></a><a href="#"><img src="img/blog_button.png"></a><a href="#"><img src="img/social_button.png"></a>
        </section>

        <section>
        <!-- <input type='text' id='profile_name4' placeholder="enter profile name"/>
        <a href="#" id='fetch_github_profile4'><img src="img/images.jpeg" width="30px" height="30px"></a> -->
        <img></img><br>
        <h2>Profile Four</h2><h54></h54><br><h64></h64><p4>
        <img src="img/images.jpeg">
       	</p4>
        <a href="#"><img src="img/email_button.png"></a><a href="#"><img src="img/blog_button.png"></a><a href="#"><img src="img/social_button.png"></a>
        </section>

        <a class="imgcat"><img src="img/github_mark.jpg"></a>
        <aside><h2 class="cat">More on Github...</h2>
        	<p class="cat">
        	GitHub offers both paid plans for private repositories and free accounts, which are usually used to host open-source software projects. As of 2014, GitHub reports having over 3.4 million users, making it the largest code host in the world.

        	GitHub has become such a staple among the open-source development community that many developers have begun considering it a replacement for a conventional resume, and some employers require applicants to provide a link to and have an active contributing GitHub account in order to qualify for a job </p>

        </aside>

    </div>

</div>

<footer>&copy;Scully87</footer>
</div>

<script type="text/javascript" src="js/jquery.js"></script>

<script type="text/javascript">
	$('#fetch_github_profile1').on('click', function(){
		var profile_name = $('#profile_name1').val();
		$.get('https://api.github.com/users/' + profile_name, function(data) {
				console.log(data);
				$('section p1').append('<img src="'+ data['avatar_url']+'height="160px" width="160px""/>');
				$('section h51').append(data['login']);
				$('section h61').append('Followers:' + data['followers']);
		});
	});
	</script>

	<script type="text/javascript">
	$('#fetch_github_profile2').on('click', function(){
		var profile_name = $('#profile_name2').val();
		$.get('https://api.github.com/users/' + profile_name, function(data) {
				console.log(data);
				$('section p2').append('<img src="'+ data['avatar_url']+'height="160px" width="160px""/>');
				$('section h52').append(data['login']);
				$('section h62').append('Followers:' + data['followers']);
		});
	});
	</script>

	<script type="text/javascript">
	$('#fetch_github_profile3').on('click', function(){
		var profile_name = $('#profile_name3').val();
		$.get('https://api.github.com/users/' + profile_name, function(data) {
				console.log(data);
				$('section p3').append('<img src="'+ data['avatar_url']+'height="160px" width="160px""/>');
				$('section h53').append(data['login']);
				$('section h63').append('Followers:' + data['followers']);
		});
	});
	</script>

	<script type="text/javascript">
	$('#fetch_github_profile4').on('click', function(){
		var profile_name = $('#profile_name4').val();
		$.get('https://api.github.com/users/' + profile_name, function(data) {
				console.log(data);
				$('section p4').append('<img src="'+ data['avatar_url']+'height="160px" width="160px""/>');
					$('section h54').append(data['login']);
				$('section h64').append('Followers:' + data['followers']);
		});
	});
</script>
</body>
</index>
